<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FeedArticleStartCount" value="27"/>
		<add key="BloggerApiUrl" value="https://blogger.googleapis.com/v3/blogs/[YourBlogId]/posts?fetchBody=true&amp;fetchImages=true&amp;isDraft=false"/>
		<add key="AuthToken" value="Bearer YOUR_token_VALUE"/>
		<add key="RSSFeedUrl" value="https://techcommunity.microsoft.com/plugins/custom/microsoft/o365/custom-blog-rss?tid=-189242975710986885&amp;board=FastTrackforAzureBlog&amp;size=55"/>		
	</appSettings>
</configuration>
